
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    font-family: "Public Sans", sans-serif;
    --theme-color: #0da487;
  }
  body {
    font-size: 14px;
  }
  
  /* Header Top */
  .header__top {
    background-color: var(--theme-color);
  }
  .container-fluid-lg {
    padding: 0 6.8rem;
  }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .header__list li {
    display: flex;
    align-items: center;
  }
  .header__list li span {
    margin-top: 1px;
    font-weight: 500;
  }
  .header__select {
    padding: 0;
    background-color: transparent;
    color: #fff;
    border: none;
    background-image: none;
    position: relative;
  }
  .header__select .dropdown-toggle {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 0 18px 0 0;
  }
  .dropdown-toggle img {
    width: 20px;
    margin-right: 10px;
  }
  
  /* Header top nav */
  .top-nav {
    padding: 24px 0;
  }
  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .web-logo img {
    width: 146px;
    height: auto;
    object-fit: contain;
  }
  .middle-box {
    display: flex;
    align-items: center;
  }
  .location-box {
    border-radius: 5px;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 7px;
    padding-right: 20px;
    margin-right: 13px;
    position: relative;
  }
  .location-box button {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .location-arrow {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a5568;
    background-color: #f3f5f9;
    border-radius: 5px;
    margin-right: 12px;
  }
  .location-arrow .feather {
    width: 16px;
    height: 16px;
  }
  .locat-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-color);
  }
  
  .location-box button i {
    margin-left: 17px;
    color: #4a5568;
  }
  .input-group .form-control {
    width: 577px;
    border-radius: 5px 0 0 5px;
    border-color: #ececec;
  }
  .input-group button {
    background-color: #ffa53b;
    color: #fff;
    padding: 14px 20px;
    border-radius: 5px;
    border: 1px solid #ffa53b;
  }
  .right-side-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .right-side:first-child {
    display: none;
  }
  
  .right-side {
    position: relative;
    padding-right: 32px;
  }
  
  .right-side:last-child {
    padding-right: 0;
  }
  /* Categorias */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-left {
    position: relative;
  }
  /* Boton All Categories */
  .dropdown-category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 30px;
    background: var(--theme-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 700;
  }
  .dropdown-category .feather {
    font-size: 23px;
    margin-right: 10px;
  }
  .header-nav-middle {
    margin: auto !important;
  }
  .navbar {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    z-index: 1;
  }
  .main-nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }
  .offcanvas-header h5 {
    color: var(--theme-color);
    font-weight: 600;
  }
  .offcanvas-header .btn-close {
    padding: 0;
    margin: -10px 0;
    font-size: 16px;
  }
  header .navbar-light .navbar-nav .nav-link {
    color: #222;
  }
  .navbar-nav {
    display: flex;
    gap: 8px;
  }
  /* Wishlist */
  .breadscrumb-section {
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
}
  .breadscrumb-section .breadscrumb-contain {
    padding: calc(26px + (40 - 26) * ((100vw - 320px) / (1920 - 320))) 0;
    text-align: center;
    color: #222;
    font-family: "Public Sans",sans-serif;
    display: flex;
    align-items: center;
}
.breadscrumb-section .breadscrumb-contain h2 {
    font-weight: 700;
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 0;
}
.breadscrumb-section .breadscrumb-contain nav {
    margin-left: auto;
}
.breadscrumb-section .breadscrumb-contain nav .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadscrumb-section .breadscrumb-contain nav .breadcrumb .breadcrumb-item {
    font-weight: 500;
}
.breadscrumb-section .breadscrumb-contain nav .breadcrumb .breadcrumb-item i {
    color: #4a5568;
}
.breadscrumb-section .breadscrumb-contain nav .breadcrumb .breadcrumb-item.active {
    color: #000;
    margin-top: 2px;
}
.breadscrumb-section .breadscrumb-contain nav .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f105";
    color: #4a5568;
}
.section-b-space {
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
}

section, .section-t-space {
    padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.product-box-3 {
    padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    background-color: #f8f8f8;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.product-box-3 .product-header {
    position: relative;
}
.product-box-3 .product-header .product-image {
    text-align: center;
    padding: 20px;
    display: block;
}
.product-box-3 .product-header .product-image img {
    width: 100%;
    height: calc(100px + (140 - 100) * ((100vw - 320px) / (1920 - 320)));
    object-fit: contain;
}
.product-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.product-box-3 .product-header .product-header-top .wishlist-button {
    position: relative;
    padding: 6px;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(34,34,34,0.24);
    border-radius: 100%;
    z-index: 0;
    display: flex;
}
.product-box-3 .product-header .product-header-top .wishlist-button .feather{
    width: 15px;
    height: 15px;
    color: #4a5568;
}
.product-box-3 .product-footer .product-detail .span-name {
    font-size: 13px;
    color: #50607c;
    margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
}
.product-box-3 .product-footer .product-detail a {
    color: #222;
    text-decoration: none;
}
.product-box-3 .product-footer .product-detail .name {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: calc(21px + (24 - 21) * ((100vw - 320px) / (1920 - 320)));
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
}
.product-box-3 .product-footer .product-detail .unit {
    font-size: 13px;
    font-weight: 500;
    margin-top: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
    color: #777;
}
.product-box-3 .product-footer .price {
    margin-top: 6px;
    font-weight: 600;
}
.product-box-3 .product-footer .price span {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    color: var(--theme-color);
}

.bg-gray {
  background-color: #f8f8f8 !important;
}
.add-to-cart-box .btn-add-cart {
  padding: 5px 0;
  width: 100%;
  font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
  color: #4a5568;
  border-radius: 50px;
  font-weight: 500;
}
.add-to-cart-box {
  margin-top: 10px;
  background-color: #f8f8f8 !important;
  border-radius: 50px;
  position: relative;
  max-width: 250px;
}


/* Footer */
footer a{
    text-decoration: none;
    color: #4a5568;
  }
  .section-b-space {
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .theme-logo {
    display: flex;
    align-items: center;
  }
  .theme-logo a img {
    width: calc(120px + (160 - 120) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer-logo-contain {
    margin: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320))) 0;
  }
  .footer-logo-contain p {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #4a5568;
    line-height: 27px;
    margin-bottom: 0;
    width: 88%;
  }
  .address {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
    padding-left: 0;
  }
  .address li {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }
  .address li a{
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
  }
  .footer-title h4 {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
  }
  .footer-contain {
    margin-top: calc(8px + (20 - 8) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer-contain ul{
    padding-left: 0 !important;
  }
  .footer-contain ul li {
    display: block;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer-contain ul li+li {
    margin-top: calc(4px + (15 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer-contact {
    margin-top: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer-contact ul{
    padding-left: 0;
    list-style-type: none;
  }
  footer .main-footer .footer-contact ul li {
    display: block;
    margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
  }
  .footer-number {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    align-items: flex-start;
  }
  .footer-number .feather {
    width: 18px;
    height: 18px;
    stroke: #4a5568;
  }
  .text-content {
    color: #4a5568;
  }
  .social-app ul{
    display: flex;
    gap: 8px;
  }